@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
@import './button.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 10px;
  cursor: pointer;
}

