:root {
    --text-dark: #2A2B34;
    --text-white: #fefefe;
    
    --primary-color-600: #117add;
    --primary-color-400: #1C88EC;
    --primary-color-200: #339bfb;
    --primary-color-100: #6fb9ff;

    --chip-red: rgb(205, 82, 102);
    --chip-green: rgb(96, 159, 52);
    --chip-blue: rgba(37, 162, 187);
}